@{
    ViewData["Title"] = "Liên hệ cá nhân";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="container mt-4">
    <div class="card shadow p-4 rounded-3">
        <h3 class="mb-3 text-primary">Thông tin cá nhân</h3>
        <ul class="list-unstyled">
            <li><strong>Họ và tên:</strong> Phạm Nguyễn Thanh Tùng</li>
            <li><strong>Email:</strong> tungtin201205@gmail.com</li>
            <li><strong>Số điện thoại:</strong> Hà Nội</li>
            <li><strong>Địa chỉ:</strong> Quận </li>
        </ul>

        <h3 class="mt-4 text-success">Liên hệ thêm</h3>
     
    </div>
</div>
